<header class="fixed flex flex-row items-center md:items-baseline justify-between px-4 py-8 text-white w-full bg-header transition-all duration-300">
  <h1 class="font-displayOne text-4xl text-center md:text-left leading-none">GoatFolx<span class="hidden md:block lg:inline lg:ml-4 font-displayOne text-xl text-right">billy goat rescue and native habitat restoration</span></h1>
  <nav class="hidden md:block mt-4 md:mt-0">
    <ul class="flex list-none">
      <li>
        <a href="">ABOUT US</a>
      </li>
      <li class="ml-4">
        <a href="">THE GOATS</a>
      </li>
      <li class="ml-4">
        <a href="">CONTACT</a>
      </li>
    </ul>
  </nav>
  <svg class="block md:hidden w-6 h-6 pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
    <path d="M4 6h16M4 12h16m-7 6h7"></path>
  </svg>
</header>