<header class="container flex justify-between items-center mx-auto px-4 border-b border-orange-700">
  <h1 class="w-full font-displayOne text-4xl text-orange-700">GoatFolx<span class="ml-4 font-displayOne text-gray-800 text-xl text-right">billy goat rescue and native habitat restoration</span></h1>
</header>