<section>
  <div class="w-full">
    {# <div class="h-96 lg:h-full"> #}
    <img class="block w-full h-96 object-cover" src="assets/images/fam.jpg" alt="">
    {# <img class="block w-full h-full object-cover lg:h-auto lg:object-contain" src="assets/images/fam.jpg" alt=""> #}
    {#<img class="hidden lg:block w-full h-full object-cover" src="assets/images/goats.jpg" alt=""> #}
    {# <img class="hidden lg:block w-full lg:object-contain" src="assets/images/bacchus.jpg" alt=""> #}
    {# </div> #}
  </div>
  {%- include "form.njk" -%}
</section>