<section class="pt-8 pb-16 px-10">
  <div class="mx-auto max-w-lg">
    <h2 class="text-3xl text-center uppercase">What we do</h2>
    <p class="mt-4 text-gray-700">goat folx works with the Earth’s tools to clear the way for environmental restoration of residential, commercial, and industrial green spaces.</p>
    <p class="mt-4 text-gray-700">The humans at goat folx are committed to developing native habitats that will thrive here in the sunny south. Beyond clearing space, goat folx offers advice, design, and installation of native plants, especially those most suited to sustainable living practices such as herbs and other wild medicinals, edible fruit-bearing plants, native ornamentals, pollinator gardens, rain &amp; bog gardens, and in-ground and water-conserving container vegetable gardens. We are inspired to utilize permaculture design techniques to work with the earth’s natural processes to manage and conserve water on your property, develop your soil and prepare your natural habitat to care for itself as it flourishes.</p>
  </div>
</section>