---
layout: base
---
<h1 class="font-displayOne text-4xl text-orange-700">GoatFolx Goat Rentals</h1>
<img class="max-w-md" src="assets/images/goats.jpg" alt=""/>
<p class="text-gray-800 text-xl">Goat rentals to clear invasive and unwanted plants.</p>
<p class="text-gray-800">Website coming soon!</p>